<!DOCTYPE HTML>
<html>
<head>
  <title>Home | Sajid</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script src="jquery.min.js"></script>
  <script src="jquery.poptrox.min.js"></script>
  <script src="skel.min.js"></script>
  <script src="init.js"></script>
  <noscript>
    <link rel="stylesheet" href="skel.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style-xlarge.css" />
  </noscript>
</head>
<body id="top">

<header id="header">
  <a href="#" class="image avatar"><%= image_tag("avatar.jpg", :alt => "profile image") %></a>
  <h1><strong>I am Sajidur Rahman</strong>, a code lover<br />
    and a Computer Science <Strong>Enthusiast</Strong><br />
  </h1>
</header>

<div id="main">
  <!-- One -->
  <section id="one">
    <header class="major">
      <h2>Passionate on coding with Ruby on Rails, Python, C/C++, C#, Java, MATLAB, Javascript, php.</h2>
    </header>
    <p>Science and Engineering enthusiast. Can work with any programming language (yes I am a quick learner as an adapter class :P)</p>
    <dl>
      <dt>Research Interests:</dt>
      <dd>
        <ul type="disc">
          <li>Computer Vision and Pattern Recognition</li>
          <li>Cloud Computing and Big data</li>
          <li>Privacy on Big data implementation</li>
          <li>Security on Web developments</li>
        </ul>
      </dd>
    </dl>
    <ul class="actions">
      <li><a href="works.html" class="button">My Works</a></li>
    </ul>
    <ul class="actions">
      <li><%= image_tag("resume.png", :alt => "resume image") %></li>
      <li><%= image_tag("grade.png", :alt => "grade image") %></li>
      <li><%= image_tag("proposal.png", :alt => "proposal image") %></li>
      </form>
    </ul>
  </section>

  <!-- Two -->
  <section id="three">
    <h2>Get In Touch</h2>
    <p>Please feel free to knock!</p>
    <div class="row">
      <form action="mailto:sajid_reznov9185@live.com">
        <div class="8u 12u$(small)">
          <form method="post" action="#">
            <div class="row uniform 50%">
              <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
              <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
              <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
            </div>
          </form>
          <ul class="actions">
            <li>
              <input type="submit" value="Send Message" />
            </li>
          </ul>
        </div>
      </form>
      <div class="4u$ 12u$(small)">
        <ul class="labeled-icons">
          <li>
            <h3 class="icon fa-home"><span class="label">Address</span></h3>
            Road#10, House#8.<br />
            Uttara, Sector#6<br />
            Bangladesh
          </li>
          <li>
            <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
            +880-1674242999
          </li>
          <li>
            <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
            <a href="mailto:sajid_reznov9185@live.com">sajid_reznov9185@live.com</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

</div>

<!-- Footer -->
<footer id="footer">
  <br/>
  <a href="http://www.codecademy.com/" class="image right"><%= image_tag("bg1.jpg", :alt => "back image") %></a>
  <ul class="icons">
    <li><a href="https://github.com/Reznov9185" class="icon fa-github"><span class="label">github</span></a></li>
    <li><a href="https://www.facebook.com/sajid9185" class="icon fa-facebook"><span class="label">facebook</span></a></li>
    <li><a href="https://www.linkedin.com/pub/sajidur-rahman/74/435/b99" class="icon fa-linkedin"><span class="label">linkedin</span></a></li>
    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="mailto:sajid_reznov9185@live.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; sajid9185</li><li>Happy Coding, KUDOS :)</li>
  </ul>
  </ul>
</footer>

</body>
</html>

